spring:
  datasource:
    url: jdbc:mysql://localhost:3306/iso_db?useSSL=false&serverTimezone=Asia/Seoul
    username: ${DB_USERNAME:isodb}
    password: ${DB_PASSWORD:isodb1234}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties§:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        use_sql_comments: true
        enable_lazy_load_no_trans: true
        jdbc:
          lob:
            non_contextual_creation: true

gemini:
  api-key: AIzaSyBU5N7ei4ODJEm8-fByb_YPQAsQZ8NKllU
  base-url: https://generativelanguage.googleapis.com

jwt:
  secret: 7a620a6cd951f7072105c91b9aec1a0399f3363712f729f04804f14379c07c5d5e70fdd28f807d3a4a2b59f23f7a0d9d28d91c924fafc7688426f8fdf1a5ed20
  expiration-time: 3600000

server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      enabled: true


cloud:
  aws:
    credentials:
      access-key: AKIAR5SAUBTPQKDU7MWQ
      secret-key: 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
    region:
      static: ap-northeast-2
    s3:
      bucket: totaload
      stack.auto: false
    cloudfront:
      distribution-domain: d3tw0zu29uwzy8.cloudfront.net

# 프론트엔드 URL 설정
frontend:
  url: http://localhost:3000

# Swagger 설정
springdoc:
  version: 1.0.0
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    disable-swagger-default-url: true
    use-root-path: true
  cache:
    disabled: true
  show-actuator: false
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
  # 그룹 설정 제거
  # packages-to-scan: com.aiwebsite_back.api
  # paths-to-match: /api/**

# 디버깅을 위한 로그 설정
logging:
  level:
    org.springdoc: DEBUG
    io.swagger.v3: DEBUG
    com.aiwebsite_back.api: DEBUG

security:
  api-keys:
    keys:
      qload: qload!

